form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input:focus {
    outline: 1px solid #ffc85c;
    transform: scale(1.005);
  }
  
  input[type="email"],
  input[type="password"] {
    line-height: 2.6;
    padding: 0 10px;
    font-size: 17px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: var(--color-4);
    padding: 10px 120px;
    color: #fff;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-block: 30px;
    box-shadow: 0.3rem 0.3rem #111827;
    cursor: pointer;
    transition-duration: 0.2s;
  }
  
  input[type="submit"]:hover {
    transform: scale(1.007);
    filter: brightness(90%);
  }
  
  input[type="checkbox"] {
    width: 17px;
    height: 17px;
  }
  
  label span {
    transition-duration: 0.2s;
    font-size: 18px;
    color: #5a5959;
    font-weight: 600;
    position: absolute;
    left: 6px;
    top: 11px;
    padding: 4px 8px;
  }
  
  label:focus-within span,
  .focus-span {
    transform: translate(0.27rem, -94%) scale(0.8);
    background-color: #fff;
  }
  
  .recovery {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  
  .recovery div {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
  }
  
  .recovery a {
    margin-left: 10px;
    white-space: nowrap;
  }
  